.wrap #two .grid-wrap, .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body {
  margin: 0;
  padding: 0;
  min-height: 656px;
  min-width: 1356px;
}

* {
  font-family: Lato;
  text-align: center;
}

.wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.welcome-page {
  position: relative;
  color: black;
  text-transform: uppercase;
  width: 100%;
  margin-left: 15%;
  font-weight: bold;
  word-spacing: 5px;
}
.welcome-page h1 {
  font-size: 100px;
  margin-top: 150px;
  margin-bottom: 0px;
  color: #FF1D55;
}
.welcome-page h2 {
  font-size: 32px;
  color: #30B7E2;
}
.welcome-page span {
  font-size: 22px;
  color: #220054;
}
.welcome-page p {
  font-size: 22px;
  margin-bottom: 30px;
  color: #220054;
}

.wrap .page {
  position: relative;
  height: 100%;
  min-height: 656px;
  overflow: hidden;
  background: url("../images/pagewall.jpg");
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.wrap .page:before {
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  right: -150px;
  top: 27%;
  border-radius: 50%;
  z-index: 1000;
}

.wrap .page:after {
  content: "";
  background: url("../images/light-bulb.svg");
  position: absolute;
  width: 50px;
  height: 50px;
  display: block;
  z-index: 1000;
  right: 40px;
  top: 42.3%;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.wrap .page .click-slide {
  position: absolute;
  top: 36%;
  background: transparent;
  width: 200px;
  height: 80px;
  cursor: pointer;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-size: 25px;
  font-weight: bold;
  color: white;
  z-index: 1000;
}

#one {
  position: absolute;
  width: 18%;
}
#one:before {
  background: #FF1D55;
}
#one p {
  right: -103px;
}
#one #section1 {
  position: relative;
  width: 100%;
  height: auto;
  top: 11%;
  padding-left: 70px;
  color: black;
  display: none;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  text-transform: uppercase;
}
#one #section1 img {
  position: relative;
  width: 300px;
  height: 300px;
  border: 1px solid #FF1D55;
  border-radius: 50%;
  cursor: pointer;
}
#one h1 {
  color: #FF1D55;
  font-size: 20px;
}
#one h2 {
  color: grey;
  font-size: 18px;
}
#one #section1 p {
  color: grey;
  text-transform: none;
  line-height: 1.4;
  font-size: 16px;
  margin: 0 300px;
}
#one .zoomIn {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
#one .fadeInUp {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.wrap #two {
  position: absolute;
  width: 15%;
}
.wrap #two:before {
  background: #FFD41A;
}
.wrap #two p {
  right: -103px;
}
.wrap #two #section2 {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}
.wrap #two .grid-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 20%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.wrap #two .calender-wrap {
  position: relative;
  width: auto;
  height: auto;
  margin: 0 5%;
}
.wrap #two #section2 span {
  position: absolute;
  background: #FF3400;
  width: 100%;
  height: 40%;
  padding-top: 20px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 15px;
  color: white;
  left: 0;
  top: -55px;
}
.wrap #two #section2 .grid-wrap div:first-child span {
  background: #30B7E2;
}
.wrap #two #section2 .grid-wrap div:last-child span {
  background: #B90CB4;
}
.wrap #two #section2 .calender {
  position: relative;
  z-index: 1;
}
.wrap #two .box {
  width: 180px;
  height: 300px;
  background: -webkit-radial-gradient(top, circle, transparent 15%, white 16%);
  background: -o-radial-gradient(top, circle, transparent 15%, white 16%);
  background: radial-gradient(circle at top, transparent 15%, white 16%);
  border-radius: 0 0 10px 10px;
  -webkit-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.6));
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.6));
}
.wrap #two #section2 h1 {
  position: absolute;
  width: 100%;
  top: 30%;
  left: 0%;
  font-size: 18px;
  color: #FF3400;
  text-transform: uppercase;
}
.wrap #two #section2 p {
  position: absolute;
  width: 100%;
  top: 40%;
  left: 0%;
}
.wrap #two #section2 .calender-wrap:first-child h1 {
  color: #30B7E2;
}
.wrap #two #section2 .calender-wrap:last-child h1 {
  color: #B90CB4;
}
.wrap #two #section2 .calender-wrap img {
  position: absolute;
  top: 63%;
  left: 30%;
  width: 70px;
  height: 70px;
}

.wrap #three {
  position: absolute;
  width: 12%;
}
.wrap #three:before {
  background: #00E2AA;
}
.wrap #three p {
  right: -100px;
}
.wrap #three #section3 {
  position: relative;
  padding: 10% 10%;
  margin-left: 10%;
  display: none;
}
.wrap #three div {
  position: relative;
  float: left;
  margin: 50px;
  text-transform: uppercase;
}
.wrap #three #section3 img {
  position: relative;
  width: 100px;
}
.wrap #three #section3 span {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 43%;
  left: 46%;
  border-radius: 50%;
  background: #FFD41A;
}
.wrap #three #section3 .grey-line {
  position: absolute;
  width: 0px;
  height: 2px;
  margin-left: 100px;
  margin-top: 18px;
  -webkit-animation-name: expand;
  animation-name: expand;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  background: #c2c1c1;
}
.wrap #three #section3 div:first-child div {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
}
.wrap #three #section3 div:nth-child(2) div {
  -webkit-animation-delay: 4.2s;
  animation-delay: 4.2s;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
}
@-webkit-keyframes expand {
  0% {
    width: 0px;
  }
  100% {
    width: 290px;
  }
}
@keyframes expand {
  0% {
    width: 0px;
  }
  100% {
    width: 290px;
  }
}
.wrap #three #section3 div:first-child span {
  background: #00E2AA;
}
.wrap #three #section3 div:last-child span {
  background: #FF1D55;
}
.wrap #three div:first-child h1 {
  color: #00E2AA;
}
.wrap #three div:last-child h1 {
  color: #FF1D55;
}
.wrap #three div h1 {
  color: #FFD41A;
  margin-top: 40px;
}
.wrap #three h3 {
  color: #220054;
  cursor: pointer;
}
.wrap #three #section3 p {
  text-transform: none;
}
.wrap #three .fadeInDown {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.wrap #three .fadeInUp {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.wrap #four {
  position: absolute;
  width: 9%;
}
.wrap #four:before {
  background: #B90CB4;
}
.wrap #four p {
  right: -103px;
}
.wrap #four #section4 {
  position: relative;
  width: 100%;
  height: auto;
  left: 2%;
  top: 18%;
  display: none;
  color: black;
  text-transform: uppercase;
}
.wrap #four div {
  display: inline-block;
  width: 20%;
  margin: 30px;
}
.wrap #four #section4 span {
  position: absolute;
  width: 35px;
  height: 30px;
  color: white;
  padding-top: 8px;
  font-weight: bold;
  margin-top: 17px;
  margin-left: 10px;
  border-radius: 50%;
  background: #B90CB4;
  z-index: 100;
}
.wrap #four #section4 div:first-child span {
  background: #FF3400;
}
.wrap #four #section4 div:last-child span {
  background: #30B7E2;
}
.wrap #four img {
  width: 180px;
  height: 180px;
  border: 7px solid #B90CB4;
  border-radius: 50%;
  cursor: pointer;
}
.wrap #four div:first-child img {
  border-color: #FF3400;
}
.wrap #four div:last-child img {
  border-color: #30B7E2;
}
.wrap #four h1 {
  color: #B90CB4;
  font-size: 20px;
  word-spacing: 4px;
  cursor: pointer;
}
.wrap #four div:first-child h1 {
  color: #FF3400;
}
.wrap #four div:last-child h1 {
  color: #30B7E2;
}
.wrap #four h2 {
  color: grey;
  font-size: 17px;
  word-spacing: 2px;
}
.wrap #four #section4 p {
  color: grey;
  text-transform: none;
  line-height: 1.4;
  font-size: 16px;
  margin-top: -8px;
}
.wrap #four .zoomIn {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.wrap #four .fadeInDown {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}
.wrap #four .fadeInUp {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}
.wrap #four #section4 img {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-animation-name: zoomin;
  animation-name: zoomin;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
@-webkit-keyframes zoomin {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes zoomin {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.wrap #five {
  position: absolute;
  width: 6%;
}
.wrap #five:before {
  background: #FF3400;
}
.wrap #five p {
  right: -103px;
}
.wrap #five #section5 {
  position: relative;
  width: 100%;
  display: none;
}
.wrap #five ul {
  position: relative;
  width: 80%;
  left: 13%;
  margin-top: 6%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  text-align: left;
}
.wrap #five li {
  width: 60%;
  margin: 10px 0;
}
.wrap #five div {
  position: relative;
  width: 90%;
  margin-left: 70px;
  cursor: pointer;
}
.wrap #five h1 {
  font-size: 18px;
  margin: 0;
}
.wrap #five #section5 p {
  margin-top: 7px;
  font-size: 15px;
}
.wrap #five img {
  position: relative;
  width: 30px;
  height: 30px;
  padding: 10px;
  margin-top: 15px;
  border-radius: 50%;
  float: left;
}
.wrap #five li:nth-child(1) img {
  background: #FF1D55;
}
.wrap #five li:nth-child(2) img {
  background: #B90CB4;
}
.wrap #five li:nth-child(3) img {
  background: #FFD41A;
}
.wrap #five li:nth-child(4) img {
  background: #FF3400;
}
.wrap #five li:nth-child(5) img {
  background: #220054;
}
.wrap #five li:nth-child(6) img {
  background: #30B7E2;
}
.wrap #five li:nth-child(7) img {
  background: #00E2AA;
}
.wrap #five li:nth-child(8) img {
  background: black;
}
.wrap #five .bounceInLeft {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.wrap #five .bounceInRight {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.wrap #five .bounceInUp {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.wrap #five .bounceInDown {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.wrap #six {
  position: absolute;
  width: 3%;
}
.wrap #six:before {
  background: #30B7E2;
}
.wrap #six p {
  right: -102px;
}
.wrap #six #section6 {
  position: relative;
  top: 8%;
  width: 70%;
  left: 14%;
  display: none;
}
.wrap #six .content-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  background: red;
}
.wrap #six h2 {
  position: relative;
  margin: 40px 160px;
}
.wrap #six ul {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  padding: 0;
}
.wrap #six li {
  display: inline-block;
  position: relative;
  margin: 20px 0;
}
.wrap #six img {
  width: 30px;
  padding: 10px;
  border-radius: 20%;
  cursor: pointer;
}
.wrap #six li:nth-child(1) img {
  background: #FF1D55;
}
.wrap #six li:nth-child(2) img {
  background: #30B7E2;
}
.wrap #six li:nth-child(3) img {
  background: #FF3400;
}
.wrap #six li:nth-child(4) img {
  background: #220054;
}
.wrap #six #section6 h2 {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-name: zoomin;
  animation-name: zoomin;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes zoomin {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes zoomin {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.wrap #six .bounceInLeft {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.wrap #six .bounceInRight {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.fullWidth {
  width: 100% !important;
}

/*# sourceMappingURL=styles.css.map */
